<div id="bread_crumb">
  <%= bread_crumb %>
</div>
<section>
  <div class="row">
    <div class="span8">
      <% @posts.each do |post| %>
        <div class="page-header">
          <h1><a href="<%= post.link %>"><%= post.title %></a></h1>
        </div>
        <div class="header">
          <ul class="info">
            <li class="date"><%= l post.created_at, :format => :long %></li>
            <% unless post.category.nil? %>
              <li class="category"><a href="<%= post.category.link %>"><%= post.category.title %></a></li>
            <% end %>
            <% unless post.tags.size.zero? %>
              <li class="tags"><%= post.tags_to_html %></li>
            <% end %>
            <li class="author"><%= post.user.name %></li>
          </ul>
        </div>
        <div class="body">
          <%= post.body %>
        </div>
        <% if logged_in? %>
          <div class="footer">
            <p><a href="<%= post.edit_link %>"><%= t('edit') %></a></p>
          </div>
        <% end %>
      <% end %>
      <ul class="pager">
        <% if @posts.pager.previous_page %>
          <li class="previous">
            <a href="?page=<%= @posts.pager.previous_page %>">&larr; Newer</a>
          </li>
        <% end %>
        <% if @posts.pager.next_page %>
          <li class="next">
            <a href="?page=<%= @posts.pager.next_page %>">Older &rarr;</a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="span4">
      <div class="well">
        <dl>
          <%= erb :"#{@theme.path}/side_menu" %>
        </dl>
      </div>
    </div>
  </div>
</section>
